<favorite [isFavorite]="post.isFavorite" (change)="onFavo"></favorite>
<button 
    [style.backgroundColor]="canSave ? 'blue': 'grey'"
    [style.color]="canSave ? 'white' : 'black'"
    [style.fontWeight]="canSave ? 'bold' : 'normal'">
    Save
</button>
<button 
    [ngStyle]="{
        backgroundColor: canSave ? 'blue': 'grey',
        color: canSave ? 'white' : 'black',
        fontWeight: canSave ? 'bold' : 'normal'
    }">
    Save
</button>

<span *ngIf="task.assignee">{{ task.assignee.name }}</span>
                    <!-- OR -->
<span >{{ task.assignee?.name }}</span> 