@import "~bootstrap/dist/css/bootstrap.css";

.glyphicon {
    border: 1px solid;
    padding:5px 10px 5px 40px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: green;
    border-radius: 3px;
}